<h1 style="display: flex; justify-content: center" mat-dialog-title>
  Добавить нового студента
</h1>
<form #createForm="ngForm">
  <form class="decor">
    <div class="form-inner">
      <input
        type="text"
        name="firstname"
        [(ngModel)]="newStudentModel.firstname"
        placeholder="Firstname"
        required
      />
      <input
        type="text"
        name="secondname"
        [(ngModel)]="newStudentModel.secondname"
        placeholder="Secondname"
        required
      />
      <input
        type="text"
        name="birthday"
        [(ngModel)]="newStudentModel.birthday"
        placeholder="Birthday"
        required
      />
      <input
        type="text"
        name="university"
        [(ngModel)]="newStudentModel.university"
        placeholder="University"
        required
      />
      <input
        type="text"
        name="faculty"
        [(ngModel)]="newStudentModel.faculty"
        placeholder="Faculty"
        required
      />
      <input
        type="text"
        name="applyDate"
        [(ngModel)]="newStudentModel.applyDate"
        placeholder="ApplyDate"
        required
      />
      <input type="email" placeholder="Email" />
    </div>
  </form>

  <div mat-dialog-actions style="display: flex; justify-content: end">
    <button
      mat-button
      type="button"
      (click)="create(createForm)"
      [disabled]="!createForm.valid"
      style="background-color: #b2d3c2"
    >
      Создать
    </button>
    <button style="background-color: red" mat-button mat-dialog-close>
      Отменить
    </button>
  </div>
  <!-- <mat-dialog-actions>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-dialog-actions> -->
</form>
